/*This is main stylesheet*::after
/*colour scheme*::after

/*pink #D8546D
/*yellow-orange #F19B24
/*orange #F58931
/*dark orange #F07444
/*light red #EE5D5F

/*purple #765CA5
/*very dark purple #352957
/*midnight blue #071572
/*dark blue #0854F4
/*blue #0F72F3

/*beige #F6F2F
/*white #FFFFFF
/*little dark white #F6F2FA*/



/*  Main background colour  */
.bg-blue{
  background-color:#0F72F3;
  padding: 20px;  /*squishs text in sections closer into middle of page while background colour stays same*/
  margin: 10px;
}

.bg-purple{
  background-color:#765CA5;
  color:#FFFFFF;
  padding: 20px;
  margin: 10px; /* can make whole section smaller */;
}


/*  mygroup.html  */
.Michal{
  background-color: green;
  padding: 20px;
  margin: 10px;
}

.Rachel{
  background-color: magenta;
  padding: 20px;
  margin: 10px;
}

.Themis{
  background-color: black;
  color: #FFFFFF;
  padding: 20px;
  margin: 10px;
}

.John{
  background-color: royalblue;
  padding: 20px;
  margin: 10px;
}


/*  Code for nav*/
nav{
  background-color: #5DE4EE;
  border: 10px solid #0B08BF;  /*boreder around nav menu*/
  color: #FFFFFF;
  display: block;
  overflow: hidden;
  width:100%;
}

nav ul li{
  display:inline-block;
  list-style-type: none;
}

nav ul li a{
  color: #000;
  display: block;
  line-height: 56px;
  text-decoration: none;
  padding: 10px;
}

nav ul li:hover{
  background-color: #765CA5;
}

nav ul li:hover a{
  color: #FFFFFF;
}